<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="div-contenido text-white">
        <div style="padding: 50px;">
            <h1>Bienvenidos.</h1>
                <h2>Millones de películas, programas de televisión y personas por descubrir. Explora ahora.</h2>
                <form class="d-flex mt-4" role="Buscar">
                    <input class="form-control me-2" type="Buscar" placeholder="Buscar" aria-label="Buscar">
                    <button class="btn btn-success" type="submit">Buscar</button>
                  </form>
        </div>
    </div>
    
    <div class="" style="background-color: white; min-height: 500px;">
        <div>
            <div class="col-11 ps-5 pt-4">
                <h3>Tendencias JAKE</h3>
                <div class="col-12 d-flex" style="overflow-x: scroll ;">
                    
                    <div *ngFor="let movie of movies" class="me-3" style="min-height: 280px; min-width: 180px ;">
                        <div style="background-image: url('https://image.tmdb.org/t/p/w500{{movie.poster_path}}');background-repeat: no-repeat,repeat;background-size: 100% ; min-height: 300px; border-radius: 15px;"></div>
                        <div class="px-4 mb-0">
                            <p>{{movie.title}}</p>
                            <p>{{movie.release_date | date:'MMM d, y'}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <div class="div-contenido">
    </div>

    <div class="" style="background-color: white; min-height: 300px;">
    </div>

    <div class="div-contenido">
    </div>
</div>
