.div-blanco{
   height: 110px;

}
.contenedor-pelicula{
    background-repeat: no-repeat,repeat;
    background-size: 100% ; 
    height: 510px
}
.contenedor-pelicula .container{
    padding-top: 30px;
     padding-left: 100px;


}
.poster-pelicula{
    background-repeat: no-repeat,repeat;
    background-size: 100%; 
    height: 450px; 
    width: 310px; 
    border-radius: 15px;

}
.contenido-pelicula{
    margin-left: 50px; 
    padding-top: 25px;
}
.contenido-pelicula.text-white{
    height: 425px; 
    width: 850px;

}

   